.interna_portfolio {
  background: url("../img/bg-portfolio.jpg");
  background-size: cover;
}

.depoimentos_clientes {
  text-align: center;
}

.quote_clientes {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;

  @include device(mobile) {
    padding: 40px 0 43px;
  }
}

.quote_clientes p {
  text-align: center;
  font-style: italic;
  margin-bottom: 18px;
  @include type-2(18);

  @include device(mobile) {
    @include type-1(16);
  }
}

.quote_clientes cite {
  font-weight: bold;
  font-style: normal;
  @include type-2(18);

  @include device(mobile) {
    @include type-1(16);
  }
}
