.interna_sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 60px;
  color: $cor-secundaria;
}

.missao_sobre p {
  margin-bottom: 1em;
  padding-right: 60px;
  @include type-1(18);

  @include device(mobile) {
    padding-right: 0px;
    @include type-1(14);
  }
}

.missao_sobre ul li {
  @include type-2(18);
  line-height: 30px;

  @include device(mobile) {
    @include type-1(14);
    line-height: 25px;
  }
}

.foto-equipe {
  padding-top: 20px;
}

.qualidade-sobre {
  padding: 60px 0 50px;

  @include device(mobile) {
    padding: 50px 0 30px;
  }
}

.qualidade-sobre:after {
  @include device(tablet) {
    right: 82px;
    background: url("../img/linhas-mobile.svg") no-repeat center;
  }

  @include device(mobile) {
    display: none;
  }
}
